@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.drum-pad__layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 500px;
  min-width: 250px;
  gap: 0.5rem;
  width: 100%;
  place-self: center;
}

.drum-beats__layout {
  display: grid;
  grid-template-columns: repeat(var(--columns, 8), minmax(0, 50px));
  max-width: 900px;
  min-width: 600px;
  gap: 0.5rem;
  width: 100%;
  place-self: center;
  justify-content: center;
  grid-auto-rows: 48px;
}

.two-cols {
  grid-column: auto / span 2;
}

.btn-active {
  transform: scale(var(--btn-focus-scale, 0.95));
}

#drum-machine .btn {
  transition-duration: 0.1s;
}

.beats-screen .stat {
  padding: 0.125rem 1.5rem;
}
